<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>File Uploading | Abbas - Assignment</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="style.css" rel="stylesheet"> -->

</head>

<body>
    <header>
        <div class="container">
            <div class="col-md-12 text-center" style="border: 1px solid black; border-radius: 5px;">
                <h2 class="text-center text-primary">File Uploading Using Node.Js, MYSQL Database & Angular 7 UI</h2>
            </div>
            <div class="col-md-12 row">
                <br><br>
            </div>
        </div>
    </header>
    <main role="main" style="margin-bottom: 5%;">
        <div class="container">
            <div class="col-md-12">
                <button class="btn btn-primary" style="float: right;" (click)="openPopup()">Add New Attachment</button>
            </div>
            <div class="col-md-12 row">
                <br>
            </div>
            <div class="col-md-12">
                <h3 class="text-center">Attachment List</h3>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="col-md-12 row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Attachment Name</th>
                        <th>Created At</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let attachment of attachmentsList">
                        <td>{{attachment.id}}</td>
                        <td>{{attachment.name}}</td>
                        <td>{{attachment.created_on | date : 'longDate'}}</td>
                        <td>
                            <a class="btn btn-priamry" href="{{getTheDownloadLink(attachment.name)}}" target="_blank">Download Attachment</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row"><br></div>
        </div>
    </main>
    <div id="openModalPopup" class="white_content" style="display: none;">
        <div class="popupheader">
            <div class="row">
                <div class="col-md-6">
                    <span class="popupheading" id="popuptxt">Upload Attachments</span>
                </div>

                <div class="col-md-6 txtright">
                    <a href="javascript:void(0)" class="btnclose" onclick="closePopup()"><img src="../assets/images/icon-cross.png" width="10px"></a>
                </div>
            </div>
        </div>

        <div class="popupbody">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <p>Select Attachments:</p>
                        <input type="file" name="attached_evidence" id="attached_evidence" (change)="selectFile($event)">
                    </div>

                    <div class="col-md-124">
                        <div class="rightside">
                            <p>&nbsp;</p>
                            <!-- <input type="button" name="book_btn" class="btn popupbtn" value="Upload Files" (click)="addFiles()"> -->
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
    <div id="closeModalPopup" onclick="closePopup();" class="black_overlay" style="display: none;"></div>
    <footer style="position: fixed;bottom: 0px;display: block;width: 100%;">
        <div class="container">
            <p>Copyright File Uploader 2019 | All rights reserved</p>
            <p>Site last updated [1/24/2019]</p>
            <p>This site is best viewed in IE 11, Chrome, Mozilla 54, Safari 10 (for mac) Screeb resolution - 1280 X 800</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="../assets/assets/js/vendor/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</body>

</html>
<router-outlet></router-outlet>