@font-face {
    font-family: 'Calibri';
    src: url('../assets/fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Calibri.woff') format('woff'), url('../assets/fonts/Calibri.ttf') format('truetype'), url('../assets/fonts/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0px;
}

body {
    margin: 0px;
    color: #000;
    font-family: 'Calibri', sans-serif;
    font-size: 14px;
}

header {
    margin: 15px 0px;
}

.logo a img {
    height: 50px;
}

.clear {
    clear: both;
}

.clear5 {
    clear: both;
    height: 5px;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear15 {
    clear: both;
    height: 15px;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear30 {
    clear: both;
    height: 30px;
}

.txtright {
    text-align: right;
}

.txtleft {
    text-align: left;
}

.clear40 {
    clear: both;
    height: 40px;
}

.form-signin {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin h1 {
    font-size: 22px;
    margin-bottom: 0px;
}

.form-signin p {
    line-height: 18px;
}

.form-signup {
    width: 100%;
    max-width: 650px;
    padding: 15px;
    margin: 0 auto;
}

.form-signup h1 {
    font-size: 22px;
    margin-bottom: 0px;
}

.form-signup p {
    line-height: 18px;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: 3px 10px;
    height: 30px;
}

.form-label-group p {
    margin-bottom: 0px;
    font-size: 12px;
}

.custom-control-label::before {
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
}

.form-label-group .custom-radio {
    float: left;
    margin-left: 15px;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #000;
}

.btnlogin {
    background-color: #009bde;
    font-size: 14px;
}

.accounttxt {
    font-size: 12px;
    margin-top: 2px;
}

.accounttxt a {
    float: right;
}

.topbanner {
    background-size: cover;
    padding: 220px 0px;
    position: relative;
}

.topbanner:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(3, 128, 154, 0.8);
}

.profilesec {
    background: #e1e1e1;
    background-size: auto 100%;
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 350px;
    margin-top: -300px;
    position: relative;
    border: 1px solid #3899ac;
    border-radius: 5px;
    margin-bottom: 50px;
    z-index: 1;
}

.profileribbon {
    color: #fff;
    background: #cd569a;
    width: auto;
    position: absolute;
    margin-top: -48px;
    padding: 10px 30px;
    margin-left: 20px;
    font-size: 18px;
}

.profiledesc {
    margin-top: 80px;
    margin-left: 50px;
}

.profiledesc h2 {
    color: #009bde;
    font-size: 28px;
}

.profiledesc p {
    color: #000;
}

.profiledesc ul {
    list-style: none;
    padding-left: 0px;
}

.profiledesc ul li {
    margin-bottom: 5px;
}

.profiledesc ul li span img {
    width: 15px;
    margin-right: 10px;
}

.socialdv {}

.timelineheading {
    background: #009bde;
    padding: 12px 0px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 50px;
}

.timelineheading h2 {
    margin-bottom: 0px;
}

.socialdv a img {
    width: 28px;
    margin-right: 10px;
}


/*

--------------------------------------------- timeline css start ------------------------------------

*/

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    bottom: 30px;
}

.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    background: #d1460b;
    left: 50%;
    top: 20px;
    bottom: 20px;
    margin-left: -10px;
}

.timeline-centered .timeline-entry {
    position: relative;
    width: 50%;
    float: right;
    margin-bottom: 70px;
    clear: both;
}

.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
    padding: 40px 0px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -230px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -22px;
    padding: 15px 0px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -230px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time.expyear {
    left: -230px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time.expyear span {
    font-size: 20px!important;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time.expyearright {
    right: -220px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time.expyearright span {
    font-size: 20px!important;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span:first-child {
    font-size: 15px !important;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    float: left;
}

.timeheading h2 {
    color: #000!important;
    font-weight: bold;
    margin-top: 0px!important;
    font-size: 28px!important;
}

.timeline-centered .timeline-entry.timeheading .timeline-entry-inner .timeline-icon {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-left: -5px;
}

.timeline-centered .timeline-entry.left-aligned.timeheading .timeline-entry-inner .timeline-icon {
    margin-left: 0px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #009bde;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-blue {
    background-color: #009bde;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-blue.btnadd {
    width: auto;
    margin-left: -85px;
    padding: 2px 35px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #fff;
    padding: 0.4em 1.7em;
    margin-left: 70px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/*
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #f5f5f6 transparent transparent;
	left: 0;
	top: 10px;
	margin-left: -9px;
}
*/

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #000;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p img {
    width: 20px;
    margin-top: -3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 10px;
    color: #000;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}


/*

--------------------------------------------- timeline css end ------------------------------------

*/

.tabheader {
    background: #009bde;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 25px 60px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 18px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #59bce6;
    border-bottom-color: transparent;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #59bce6 #59bce6 #dee2e6;
    background-color: #59bce6;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #59bce6;
    color: #fff;
    border-color: #59bce6 #59bce6 #fff;
}

.tab-content>.tab-pane {
    padding: 60px 0px;
}

.progressdv {
    margin-bottom: 25px;
}

.progressdv h4 {
    font-size: 18px;
    margin-bottom: 0px;
}

.progressdv p {
    font-size: 12px;
}

.progressdv p img {
    height: 28px;
    margin-top: 5px;
}

.progressdv .progress {
    height: 7px;
    border-radius: 0px;
}

.progressdv .progress .progress-bar {
    background-color: #009bde;
}

footer {
    background: #eeeded;
    padding: 10px 0px;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
    font-size: 11px;
    color: #616161;
}

.white_content {
    display: none;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    height: auto;
    padding: 20px;
    border: 0px solid orange;
    background-color: white;
    z-index: 1002;
    max-height: 80vh;
    overflow: auto;
}

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.popupheading {
    background-image: url(../assets/images/ribbon-blue.png);
    background-size: 205px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    width: 205px;
    padding: 18px 0px;
    text-align: center;
}

.popupheader {
    margin-bottom: 20px;
}

.popupbody p {
    margin-bottom: 2px;
    color: #186cc9;
    margin-top: 18px;
}

.popupbody input,
.popupbody select {
    height: 30px!important;
    font-size: 12px;
    color: #949494;
    padding: 0px 10px;
    border-color: #186cc9;
    box-shadow: 0px 0px 2px 0px rgba(24, 108, 201, 0.83);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(24, 108, 201, 0.83);
    -moz-box-shadow: 0px 0px 2px 0px rgba(24, 108, 201, 0.83);
}

.popupbtn {
    width: 100%;
    background: #186cc9;
    color: #fff!important;
}